<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(<%=header.background%>)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">

                <div class="row row-mt-15em">
                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Feito por
                            <a href="https://www.hcode.com.br" target="_blank">Hcode.com.br</a>
                        </span>
                        <h1 class="cursive-font"><%=header.title%></h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>